.et_pb_section .et_pb_row {
  width: 90%;
  max-width: $container-width;
}

.et_pb_button {
  background: $c-theme-orange;
  border-color: $c-theme-orange;
  color: #FFFFFF;
  font-size: 16px;
  border-radius: 0;
  &:hover {
    background-color: $c-theme-blue;
  }
  &:hover:after {
    right: 0;
  }
  &:after {
    line-height: 26px;
    top: 50%;
    transform: translateY(-50%);
  }
  &.et_pb_bg_layout_light:hover {
    background-color: $c-theme-blue;
  }
}
.et_pb_bg_layout_light .et_pb_button:hover {
  background-color: $c-theme-blue;
}
.et_pb_button_module_wrapper > a {
  white-space: nowrap;
}

#main-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    color: $c-theme-blue;
    margin-bottom: 36px;
    font-weight: 700;
    &:after {
      content: '';
      position: absolute;
      bottom: -12px;
      height: 2px;
      background-color: $c-theme-blue;
      width: 73.5%;
      left: 0;
    }
    &[style*='text-align: center']:after,
    &[style*='text-align: center !important']:after,
    &.et_pb_slide_title[style*='text-align: center !important']:after {
      left: 50%;
      transform: translateX(-50%);
    }
    &.et_pb_toggle_title {
      margin-bottom: unset;
      &:after {
        display: none;
      }
    }
  }
  .et_pb_slider .et_pb_slide .et_pb_slide_description .et_pb_slide_title:after {
    display: none !important;
  }
}

#main-content .et_pb_module,
#main-content .et_pb_section {
  .et_pb_bg_layout_dark {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &:after {
        background: #FFFFFF;
      }
    }
  }
}

#main-content .et_pb_row.row-products .et_pb_column {
  .et_pb_text .et_pb_text_inner h4 {
    min-height: 64px;
    display: flex;
    align-items: center;
  }
  .et_pb_image .et_pb_image_wrap {
    min-height: 270px;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #f0f0f0;
  }
}

#main-content .et_pb_image .et_pb_image_wrap {
  width: 100%;
  img {
    display: block;
    margin: 0 auto;
  }
}

#main-content .et_pb_fullwidth_header .et_pb_fullwidth_header_container.center .header-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:after {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.et_pb_slider.et_pb_module .et_pb_slides .et_pb_slide_description h2.et_pb_slide_title {
  line-height: 1.25;
}

#et-main-area {
  background: $c-theme-light-gray;
  .et_pb_section {
    background: transparent;
  }
}

.home #et-main-area {
  .homepage-banner-section {
    .et_pb_row > .et_pb_column {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    .et_pb_column_1_3 {
      margin-right: 0;
      @media (min-width: 981px) {
        width: 260px;
      }
    }
    .et_pb_column_2_3 {
      @media (min-width: 981px) {
        width: calc(100% - 260px);
        padding-left: 30px;
      }
      .et_pb_row_inner {
        padding-top: 0;
      }
    }
    .et_pb_widget_area_left {
      border-right: none;
      padding-right: 0;
    }
  }
}

@media (max-width: 980px) {

  .home #et-main-area .homepage-banner-section {
    padding-top: 0;
    .et_pb_row > .et_pb_column_0 {
      padding-top: 15px;
    }
  }

}

#main-content .featured-category-grid.et_pb_row_inner {
  .et_pb_column {
    .et_pb_image.et_pb_module {
      margin-bottom: 20px;
    }
    .et_pb_text.et_pb_module {
      margin-bottom: 20px;
    }
    .et_pb_image .et_pb_image_wrap {
      height: 200px;
      overflow: hidden;
      display: flex;
      background: white;
      img {
        object-fit: cover;
      }
    }
    .et_pb_text.et_pb_module h3 {
      text-transform: uppercase;
      color: $c-theme-black;
      margin-bottom: 0;
      &:after {
        display: none;
      }
    }
    .et_pb_module .et_pb_button {
      background: $c-theme-blue;
      border-color: $c-theme-blue;
      width: 60%;
    }
  }
}

#main-content .et_pb_column.et_pb_column_1_3 {
  z-index: 10;
}

#main-content .sidebar-navigation {
  border-right: none;
  .widgettitle {
    background: $c-theme-blue;
    color: #FFFFFF;
    padding: 1rem;
    display: flex;
    font-size: 14px;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 0;
    &:before {
      content: '\f039';
      font-family: $fontawesome;
      font-size: 14px;
      color: #FFFFFF;
      margin-right: 6px;
    }
    &:after {
      display: none;
    }
  }
  .menu-categories-container {
    background: #FFFFFF;
    ul li {
      margin-bottom: 0;
      border-top: 1px solid #f3f3f3;
      a {
        display: block;
        padding: 1rem;
        font-size: 12px;
        font-weight: bold;
        color: $c-theme-black;
      }
    }
    ul ul {
      display: none;
    }
  }
}

@media (min-width: 981px) {

  #main-content .sidebar-navigation {
    .menu-categories-container {
      ul li {
        position: relative;
      }
      ul li:hover > ul {
        display: block;
        position: absolute;
        left: 100%;
        top: 0;
        background: #FFFFFF;
        z-index: 999999;
        border-left: 1px solid #f3f3f3;
        li {
          margin-left: 0;
          min-width: 200px;
          &:first-child {
            border-top: none;
          }
        }
      }
    }
  }

}

#main-content .featured-content-block {

  .et_pb_row {
    background: #FFFFFF;
    padding: 100px 50px;
  }


  > .et_pb_row {
    position: relative;
  }
  > .et_pb_row > .et_pb_column_2_3 {
    position: unset;
  }
  > .et_pb_row .et_pb_column_2_3 .et_pb_row_inner:first-child  {
    position: absolute;
    top: 0;
    left: 50px;
    right: 50px;
    width: calc(100% - 100px);
    .et_pb_column .et_pb_text h3 {
      color: $c-theme-black;
      text-transform: uppercase;
      &:after {
        width: 100%;
        background-color: #e6e6e6;
      }
    }
  }
}

@media (max-width: 767px) {

  .et_pb_slider .et_pb_slide_0.et_pb_slide>.et_pb_container {
    max-width: 80%;
  }
  .et_pb_slider.et_pb_module .et_pb_slides .et_pb_slide_description h2.et_pb_slide_title {
    font-size: 24px !important;
  }

}

@media (min-width: 981px) {

  .et_pb_gutters3 .et_pb_column_1_6,
  .et_pb_gutters3.et_pb_row .et_pb_column_1_6 {
    width: 14%;
    margin-right: 3.2%;
    &:last-child {
      margin-right: 0;
    }
  }

}
