#main-content .contact-us-block {
    padding: 40px 50px;
    h3 {
        font-size: 18px;
        text-transform: uppercase;
        color: #333333;
        margin-bottom: 30px;
        &:after {
            display: none;
        }
    }
    p {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
    }
    .jotform-form .form-section {
        border: 1px solid #e6e6e6;
        box-shadow: 0px 3px 6px rgba(#000029, 0.25);
        border-radius: 3px;
        padding: 40px;
        display: flex;
        flex-direction: column;
    }
    .jotform-form .form-line {
        width: 100%;
        margin-top: 15px;
        &:first-child {
            margin-top: 0;
        }
        input,
        label,
        textarea {
            width: 100%;
        }
        label {
            display: block;
            font-size: 12px;
            font-weight: bold;
            color: #333333;
            margin-bottom: 10px;
        }
        input,
        textarea {
            border: 1px solid #EEEEEE;
            border-radius: 3px;
            font-size: 16px;
            padding: 10px;
        }
        textarea {
            resize: none;
        }
    }
    .buttons-set {
        display: flex;
        align-items: center;
        margin-top: 15px;
        padding-top: 15px;
        .form-line {
            margin-left: auto;
            width: auto;
        }
        .et_pb_button {
            text-transform: uppercase;
            padding: 15px 80px;
        }
    }
}

#main-content .contact-form-section {
    width: 100%;
    max-width: 100%;
    background: #9f9f9f;
    color: #FFFFFF;
    padding-left: 30px;
    padding-right: 30px;
    .jotform-form .form-section {
        border: none;
        box-shadow: none;
        padding: 40px 0;
    }
    .jotform-form .form-line label {
        color: #FFFFFF;
    }
    h2 {
        color: #FFFFFF;
        &:after {
            background-color: #FFFFFF;
        }
    }
    a {
        color: #FFFFFF;
    }
}

@media (min-width: 981px) {
    #main-content .contact-us-block {
        h3 {
            font-size: 21px;
        }
        .jotform-form .form-section {
            flex-wrap: wrap;
            flex-direction: row;
        }
        .jotform-form .form-section .column {
            flex-basis: calc((100% - 45px*2) / 3);
            margin-left: 45px;
            &:first-child {
                margin-left: 0;
            }
        }
        .jotform-form .form-section .buttons-set {
            flex-basis: 100%;
        }
    }

}

@media (max-width: 980px) {

    #main-content .contact-us-block .form-section .column .form-line:first-child {
        margin-top: 15px;
    }
    #main-content .contact-us-block .buttons-set .form-line {
        margin-right: auto;
        width: 100%;
    }
    #main-content .contact-us-block .buttons-set .et_pb_button {
        max-width: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 15px;
    }

}