#main-content .manufacturer-block .et_pb_row {
    background: #FFFFFF;
    padding: 40px 60px;
    h3 {
        color: #333333;
        text-transform: uppercase;
        &:after {
            background-color: #dbdbdb;
            width: 100%;
        }
    }
    .wdcl_logo_carousel {
        .slick-list {
            max-width: calc(100% - 80px);
            margin-left: auto !important;
            margin-right: auto !important;
        }
        .slick-next {
            right: 0;
        }
        .slick-prev {
            left: 0;
        }
        .slick-track {
            display: flex;
            align-items: center;
        }
        .slick-slide > div {
            display: flex;
            align-items: center;
        }
        .wdcl-carousel-item > div {
            display: flex;
            align-items: center;
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
                display: block !important;
            }
        }
    }
}