.prsp_preiser_single_post_module {
    box-shadow: 0px 3px 6px rgba(#000029, 0.25);
    .et_pb_module_inner {
        position: relative;
        display: flex;
        flex-direction: column;
        .post-category {
            position: absolute;
            top: 0;
            left: 0;
            background: $c-theme-blue;
            font-size: 14px;
            color: #FFFFFF;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            max-width: 130px;
            width: 100%;
            justify-content: center;
            &.post-cat-news:before,
            &.post-cat-research:before {
                color: #FFFFFF;
                font-size: 16px;
                margin-right: 12px;
                font-weight: 700;
                font-family: 'Font Awesome 5 Free';
            }
            &.post-cat-news {
                background-color: #5c99c9;
                &:before {
                    content: '\f1ea';

                }
            }
            &.post-cat-research {
                background-color: #f78e66;
                &:before {
                    content: '\f15c';
                }
            }
        }
        .post-image {
            width: 100%;
            img {
                display: block;
                width: 100%;
                height: auto;
                margin: 0 auto;
            }
        }
        .post-content {
            position: relative;
            padding: 3rem 2rem 4rem;
        }
        .single-post-header {
            font-size: 24px;
            color: #333333 !important;
            text-transform: uppercase;
            &:after {
                display: none;
            }
        }
        .post-content p {
            font-size: 16px;
            line-height: 1.5;
            font-weight: 400;
            color: #333333;
        }
        .post-content .btn {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            background-color: $c-theme-blue;
            border-color: $c-theme-blue;
            white-space: nowrap;
            text-transform: uppercase;
        }
    }
}

@media (min-width: 981px) {

    .et_pb_column_2_3 .prsp_preiser_single_post_module .et_pb_module_inner {
        flex-direction: row;
        .post-image {
            flex-basis: 45%;
            display: flex;
            flex-grow: 1;
            img {
                object-fit: cover;
            }
        }
        .post-content {
            flex-basis: 55%;
            display: flex;
            flex-direction: column;
        }
    }

    .prsp_preiser_single_post_module .et_pb_module_inner .single-post-header {
        font-size: 30px;
    }

}