body {
    background: #f3f3f3;
    font-family: 'Roboto', sans-serif !important;
}

.et_pb_text_inner p {
    font-size: 14px;
}

.container {
    width: 90%;
    max-width: $container-width;
}

#et-main-area {
    background: transparent;
    #main-content {
        background: transparent;
    }
}

.button-bold {
    background: $c-theme-orange;
    color: #FFFFFF;
}