$s-text: 1.6rem;
$s-text-sm: 1.4rem;

$s-gap: 1.5rem;
$s-gap-s: $s-gap / 2;

$container-width: 1140px;

$c-red: #E41849;

$c-theme-black: #333333;
$c-theme-light-gray: #F3F3F3;
$c-theme-blue: #005FAA;
$c-theme-orange: #F45E25;

$fontawesome: 'Font Awesome 5 Free';
