#et-secondary-nav li ul,
#top-header {
    background-color: #005FAA;
}
#top-header {
    font-size: 14px;
}
.et_header_style_centered #main-header {
    padding-top: 0;
    padding-bottom: 0;
}
.et_header_style_centered #main-header .mobile_nav {
    background: transparent;
    &.opened .mobile_menu_bar:before {
        background: #dddddd;
        border-radius: 4px;
    }
}
.et_header_style_centered .et_mobile_menu {
    top: 42px;
    border-top: 0;
    background: #005FAA;
    visibility: hidden;
    display: block;
    overflow: hidden;
    li a {
        color: #FFFFFF;
        text-transform: uppercase;
        border-bottom: 0;
    }
}
.et_header_style_centered .mobile_nav.opened .et_mobile_menu:first-of-type {
    visibility: visible;
    display: block;
    overflow: visible;
}
#main-header .top-bar .container {
    display: flex;
    justify-content: center;
}
.et_header_style_centered #main-header .header-main .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.et_header_style_centered #main-header .header-main .container .cart-link {
    display: flex;
    align-items: center;
    margin-top: 15px;
    i {
        color: $c-theme-orange;
        font-size: 12px;
        margin-right: 12px;
    }
    button {
        color: #FFFFFF;
        background: $c-theme-orange;
        border: none;
        border-radius: 0;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        height: 28px;
        min-width: 76px;
    }
}

.et_header_style_centered #main-header .header-main .container #menu-support-menu {
    margin-top: $s-gap;
    position: relative;
    padding-top: 30px;
    &:after {
        content: '\f469';
        font-size: 24px;
        font-family: $fontawesome;
        color: $c-red;
        position: absolute;
        font-weight: 900;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    li {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    li a {
        color: $c-theme-black;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 1px;
    }
}

.menu {
    .phone {
        display: flex;
        align-items: center;
        &:before {
            content: '\f095';
            font-weight: 900;
            margin-right: 6px;
            font-family: "Font Awesome 5 Free";
        }
    }
    .cart {
        display: flex;
        align-items: center;
        &:before {
            content: '\f07a';
            font-weight: 900;
            margin-right: 6px;
            font-family: "Font Awesome 5 Free";
        }
    }
    .account {
        display: flex;
        align-items: center;
        &:before {
            content: '\f007';
            font-weight: 900;
            margin-right: 6px;
            font-family: "Font Awesome 5 Free";
        }
    }
    .rfq-list {
        display: flex;
        align-items: center;
        &:before {
            content: '\f03a';
            font-weight: 900;
            margin-right: 6px;
            font-family: "Font Awesome 5 Free";
        }
    }
    .login {
        display: flex;
        align-items: center;
        &:before {
            content: '\f023';
            font-weight: 900;
            margin-right: 6px;
            font-family: "Font Awesome 5 Free";
        }
    }
}

#main-header {
    background-color: #f3f3f3;
    .top-bar {
        width: 100%;
        padding: 8px 0;
        ul {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            li {
                margin-left: 8px;
                position: relative;
                padding: 0 1rem;
                &:after {
                    content: '';
                    position: absolute;
                    left: -5px;
                    width: 1px;
                    background: #3a3a3a;
                    height: 50%;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:first-child:after {
                    display: none;
                }
                a {
                    display: block;
                    white-space: nowrap;
                }
            }
        }
    }
    .top-bar-header {
        background: #000000;
        color: #FFFFFF;
        ul li {
            font-size: 12px;
            text-transform: uppercase;
            a {
                color: #FFFFFF;
            }

        }
    }
    .logo_container {
        height: auto;
        a {
            display: block;
        }
    }
    .header-main {
        padding: 27px 0;
    }
}

@media (min-width: 981px) {
    .et_header_style_centered nav#top-menu-nav {
        display: flex;
        width: 100%;
        background: $c-theme-blue;
        .container {
            display: flex;
            width: 90%;
            max-width: $container-width;
            margin: 0 auto;
        }
        #top-menu,
        #account-menu {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            li {
                padding: 0 15px;
                border-right: 1px solid #1c70b3;
                &:first-child {
                    border-left: 1px solid #1c70b3;
                }
                &:hover {
                    background-color: $c-theme-orange;
                }
                &.intl-link {
                    display: flex;
                    align-items: center;
                    &:before {
                        content: '\f0ac';
                        font-family: $fontawesome;
                        margin-right: 0.5rem;
                        color: #FFFFFF;
                    }
                }
            }
            li a {
                display: flex;
                align-items: center;
                height: 50px;
                color: #FFFFFF;
                padding: 18px 0;
                text-transform: uppercase;
                font-size: 13px;
                letter-spacing: 0.5px;
                white-space: nowrap;
            }
            ul li {
                padding: 0;
                width: 100%;
                a {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
        #account-menu {
            margin-left: auto;
        }
    }
    #main-header .top-bar .container {
        justify-content: flex-end;
    }
    #main-header .top-bar .container .intl-dropdown-wrapper {
        margin-right: auto;
    }
    .et_header_style_centered #main-header .header-main .container {
        flex-direction: row;
        .logo_container {
            max-width: 262px;
            height: auto;
        }
        .cart-link {
            margin-left: auto;
            margin-top: 0;
        }
    }
    .et_header_style_centered #main-header .header-main .container #menu-support-menu {
        margin-top: 0;
        text-align: right;
        padding-top: 0;
        padding-right: 30px;
        &:after {
            right: 0;
            top: 45%;
            left: unset;
            transform: translateY(-50%);
        }
        li {
            justify-content: flex-end;
        }
    }
}

@media (max-width: 980px) {

    #main-header .top-bar .container {
        flex-direction: column;
    }
    #main-header .top-bar ul {
        justify-content: center;
        margin-top: 1rem;
    }

}