.popup-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    visibility: hidden;
    pointer-events: none;
    background: rgba(0,0,0,0.4);
    .popup-modal-content {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 80vw;
        max-width: 700px;
        height: 80vh;
        background: white;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        overflow-y: scroll;
        transform: translateX(-50%) translateY(-50%);
        img {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
        }
        .et_pb_button {
            margin-top: 2rem;
        }
        .et_pb_button.cancel {
            background: none;
            border: none;
            color: $c-theme-orange;
            &:hover {
                padding: .3em 1em;
                &:after {
                    display: none;
                }
            }
        }
    }
    .cancel {
        position: fixed;
        top: 7vh;
        left: 50%;
        font-size: 1rem;
        transform: translateX(-50%) translateY(-50%);
        background: white;
        padding: 1rem;
        cursor: pointer;
        &:before {
            content: '\f410';
            font-family: $fontawesome;
            margin-right: 0.5rem;
        }
    }
}

.popup-modal-container.open {
    visibility: visible;
    pointer-events: auto;
}