.et_header_style_centered #et_mobile_nav_menu {
    margin-top: 0;
    background: #005FAA;
    .mobile_menu_bar:before {
        color: #FFFFFF;
    }
}
#et-top-navigation {
    font-weight: 500;
}
.link-red,
.link-red a {
    color: $c-red !important;
}
.link-cart {
    display: flex;
    align-items: center;
    &:before {
        content: '\f07a';
        font-family: $fontawesome;
        font-weight: 900;
        margin-right: 0.5rem;
        color: #FFFFFF;
    }
}

@media (min-width: 981px) {
    #et-top-navigation .nav li {
        &.menu-item-has-children > a {
            display: flex;
            align-items: center;
        }
        &.menu-item-has-children > a:first-child:after {
            position: relative;
        }
        ul {
            top: 100%;
            left: 0;
            background: $c-theme-blue;
            border-top-color: $c-theme-orange;
            li {
                border-right: none;
            }
        }
    }
}