.header-search-form {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: auto;
    width: 50%;
    min-width: 300px;
    input[type=search] {
        background: white;
        border: none;
        border-radius: 0;
        padding: 13px;
        width: calc(100% - 50px);
    }
    .submit {
        background: $c-theme-blue;
        color: white;
        position: relative;
        border-radius: 0 5px 5px 0;
        width: 54px;
        height: 41px;
        &:before {
            content: '\f002';
            font-family: "Font Awesome 5 Free";
            font-size: 14px;
            font-weight: 900;
            color: white;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 2;
        }
        input[type=submit] {
            border: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            padding: 0;
        }
    }
}